defaults: &defaults
  working_directory: /go/src/github.com/gruntwork-io/health-checker
  docker:
    - image: 087285199408.dkr.ecr.us-east-1.amazonaws.com/circle-ci-test-image-base:latest

version: 2
jobs:
  install_dependencies:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: /go/src/github.com/gruntwork-io/health-checker
      - restore_cache:
          keys:
            - dep-{{ checksum "Gopkg.lock" }}
      - run: (dep ensure)
      - save_cache:
          key: dep-{{ checksum "Gopkg.lock" }}
          paths:
            - /go/src/github.com/gruntwork-io/health-checker/vendor
      - persist_to_workspace:
          root: .
          paths:
            - vendor

  test:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: /go/src/github.com/gruntwork-io/health-checker
      - run: run-go-tests --circle-ci-2

  build:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: /go/src/github.com/gruntwork-io/health-checker
      - run: build-go-binaries --circle-ci-2 --src-path . --app-name health-checker --dest-path bin --ld-flags "-X main.VERSION=$CIRCLE_TAG"
      - persist_to_workspace:
          root: .
          paths: bin

  deploy:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: /go/src/github.com/gruntwork-io/health-checker
      - run: upload-github-release-assets bin/*

workflows:
  version: 2
  build-and-test:
    jobs:
      - install_dependencies:
          filters:
            tags:
              only: /^v.*/
      - test:
          requires:
            - install_dependencies
          filters:
            tags:
              only: /^v.*/
      - build:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/


  nightly:
    triggers:
      - schedule:
          cron: "0 8 * * *"
          filters:
            branches:
              only: master
    jobs:
      - install_dependencies
      - test:
          requires:
            - install_dependencies